@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
}

body{
    font-family:'Inter',sans-serif;
    background:#ffffff;
}

a, ul{
    text-decoration: none;
     list-style: none;
    
}

/* ul{
    list-style: none;
    
} */

/* ===================================
   Reusable Container
=================================== */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #ffffff;
    padding: 18px 0;
    border-bottom: 1px solid #e5e7eb;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 38px;
    height: 38px;
}

.logo-text h2{
    font-size: 20px;
    font-weight: 700;
     color: black;
}

.logo-text span{
    font-size: 14px;
    font-weight: 600;
    color: black;
}

/* Navigation */

.nav-links{
    display: flex;
    gap: 35px;
}

.nav-links a{
    font-size: 16px;
    color: #575757;
    
}

.nav-links a:hover{
    color: #2563eb;
}

/* Button */

.btn{
    display: inline-block;
    background-color: #2563eb;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    background-color: #1d4ed8;
}

/* ===================================
            Hero Section
=================================== */

.hero{
    height: 700px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.20);
}

.hero-content{
    text-align: center;
    color: #fff;

    max-width: 760px;
    margin: 0 auto;

    /* Push the content down from the top */
    padding-top: 100px;
}

.hero-content h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 22px;
}

.hero-content h1 span{
    font-style: italic;
}

.hero-content p{
   

    font-size: 20px;
    
    color: #717175;
}

/* Button */

.hero-btn{
    display: inline-block;

    margin-top: 260px;

    background: #2d5be3;
    color: #fff;

    padding: 16px 32px;

    border-radius: 8px;

    font-size: 20px;
    font-weight: 600;
    
}

.hero-btn:hover{
    background: #1d4ed8;
}