@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
}

body{
    font-family:'Inter',sans-serif;
    background:#ffffff;
}

a, ul{
    text-decoration: none;
     list-style: none;
    
}

/* ul{
    list-style: none;
    
} */

/* ===================================
   Reusable Container
=================================== */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #ffffff;
    padding: 18px 0;
    border-bottom: 1px solid #e5e7eb;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 38px;
    height: 38px;
}

.logo-text h2{
    font-size: 20px;
    font-weight: 700;
     color: black;
}

.logo-text span{
    font-size: 14px;
    font-weight: 600;
    color: black;
}

/* Navigation */

.nav-links{
    display: flex;
    gap: 35px;
}

.nav-links a{
    font-size: 16px;
    color: #575757;
    
}

.nav-links a:hover{
    color: #2563eb;
}

/* Button */

.btn{
    display: inline-block;
    background-color: #2563eb;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    background-color: #1d4ed8;
}

/* ===================================
            Hero Section
=================================== */

.hero{
    height: 700px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.20);
}

.hero-content{
    text-align: center;
    color: #fff;

    max-width: 760px;
    margin: 0 auto;

    /* Push the content down from the top */
    padding-top: 100px;
}

.hero-content h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 22px;
}

.hero-content h1 span{
    font-style: italic;
}

.hero-content p{
   

    font-size: 20px;
    
    color: #717175;
}

/* Button */

.hero-btn{
    display: inline-block;

    margin-top: 260px;

    background: #2d5be3;
    color: #fff;

    padding: 16px 32px;

    border-radius: 8px;

    font-size: 20px;
    font-weight: 600;
    
}

.hero-btn:hover{
    background: #1d4ed8;
}


/* ===================================
        Speakers Section
=================================== */

.speakers{
    padding: 90px 0;
    background: #ffffff;
   
    
    
}

.section-title{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-top: -80px;
    margin-bottom: 60px;
}

/* Grid */

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
   
}

/* Card */

.speaker-card{
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    
    overflow: hidden;
    transition: .3s;
}

.speaker-card:hover{
     /* transform: translateY(-6px); */
     box-shadow: 0 15px 35px rgba(0,0,0,.08); 
}

.speaker-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* Card Content */

.speaker-info{
    padding: 22px;
}

.speaker-info h6{
    color: #2563eb;
    font-size: 12px;
    font-weight: 700;
   
    margin-bottom: 10px;
}

.speaker-info h3{
    font-size: 26px;
    margin-bottom: 10px;
}

.speaker-info p{
    color: #6b7280;
    font-size: 15px;
}


/* ===================================
        Pricing Section
=================================== */

.pricing{
    padding: 90px 0;
    /* background: red; */
    
    /* border:1px solid red; */
}

.pricing-subtitle{
    text-align: center;
    color: #6b7280;
    margin-top: -40px;
    margin-bottom: 50px;
    font-size: 16px;
}

/* Grid */

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

/* Card */

.price-card{
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 30px;
    background: #fff;
}

.price-card.active{
    background: #0f172a;
    color: #fff;
}

.plan{
    font-size: 12px;
    color: #6b7280;
    font-weight: 700;
    letter-spacing: 1px;
}

.price-card.active .plan{
    color: #cbd5e1;
}

.price-card h3{
    font-size: 48px;
    margin: 10px 0;
}

.per-person{
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 20px;
    
}

.price-card.active .per-person{
    color: #cbd5e1;
}

.price-card hr{
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 25px 0;
}

.price-card.active hr{
    border-color: rgba(255,255,255,.2);
}

.price-card ul{
    margin-bottom: 35px;
}

.price-card ul li{
    margin-bottom: 14px;
    color: #4b5563;
    font-size: 15px;
}

.price-card.active ul li{
    color: #e2e8f0;
}

/* Button */

.price-btn{
    display: block;
    text-align: center;
    border: 2px solid #2563eb;
    color: #2563eb;
    padding: 14px;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.price-btn:hover{
    background: #2563eb;
    color: #fff;
}

.active-btn{
    background: #2563eb;
    color: #fff;
}

.active-btn:hover{
    background: #1d4ed8;
}
.team{
    background-color: #F8F9FB;
}